.portCardImg{
    text-align: center;
    justify-content: middle;
    max-width: 318px;
    max-height: 175px;
    margin: auto;
    width: 50%;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.portCard{
    /* max-width: 350px; */
   
    max-height: 450px;
    max-width: 400px;
    margin: 60px;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 12px 26px 0 rgba(0,0,0,0.19);
    min-height: 450px;
    min-width: 352px !important;
    margin-top: 60px !important;
    /* margin-left: 65px; */
}

.button {
    margin: 5px;
    width: 45%;
    position: relative;
    bottom: 0px;
    display: flex;
    min-width: 120px;
    max-height: 45px;
    padding: 4px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cardFooter {
    border-top: none !important;
    background-color: white !important;
}

.portCardText{
    overflow: scroll !important;
}


@media screen and (min-width: 767) {
    .portCard{
    margin-left: 300px;
    }
}