.container {
    max-width: 60%;
    min-width: 50%;
    margin:auto;
}

.submit{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.formHeader {
    border-bottom: #d4d4d4;
    border-bottom-style: double;
}

form {
    background-color: #3b3b3b;
    color: #d4d4d4;
    padding: 15px;
    display: block;
    margin:auto;
    display:block;
    margin-bottom: 8rem;
}

.form{
    max-width: 360px;
    min-width: 350px;
}

@media(max-width:575px) {
    .form {
        width: 100vw;
    }
}