header{
    background-color: #3b3b3b;
    color: #d4d4d4 !important;
    width: 100%;
    font-family: 'Cinzel', serif !important;
    text-shadow: 2px 2px #000000;
}

.nav-link {
    color: #d4d4d4 !important;
}

