.header{
    background-color: #3b3b3b !important;
    color: #d4d4d4 !important;
    width: 100%;
    font-family: 'Cinzel', serif;
}

.nav-link {
    color: #d4d4d4 !important;
}

.nav-link:hover{
    font-weight: bold;
}

.burger{
    z-index: 6000;
    color: #d4d4d4 !important;
}

.name {
    color: #d4d4d4 !important;
}