
a:link, a:visited, a:hover, a:active {
  color: #d4d4d4;
}

body{
  background-image: url("/public/images/wrapper/background.jpg");
  background-size: cover;
  overflow: scroll;
  font-family: 'Roboto Slab', serif;
}

.textShadow{
text-shadow: 2px 2px #000000;
}

.textShadowLight{
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
