* {
  font-family:'Dosis', sans-serif;
}

a:link, a:visited, a:hover, a:active {
  color: #d4d4d4;
}

body{
  background-image: url("/public/images/wrapper/background.jpg");
  background-size: cover;
}